<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/app/assets/stylesheets/sweet_eats.css">
    <title>Jams Sweet Eats</title>
    <nav class = "menu-bar">
       <ul>
        <li><a href="">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Nutrition</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </head>
  <body>

    <img src="https://photos.app.goo.gl/bEDsFqKzpPX492mK8" alt="Delicious things are here!" title="Pies"
    width="1080" height="900">

  </body>
</html>
